# Pandas

We have seen Numpy in the last section. It is good at performing math operation on 2d-arrays of numbers. But the major drawback is, it cannot deal with heterogenous values. So, Pandas dataframes are helpful in that aspect for storing different data types and referring the values like a dict in python instead of just referring each item with index.

[Link to Official Documentation](http://pandas.pydata.org/pandas-docs/version/0.23/dsintro.html)

## Series

Pandas series are almost same as nd arrays in numpy, with a additional inferencing ability with custom labels like *keys* in a *dictionary* in python.

In [1]:
import numpy as np
import pandas as pd

In [10]:
#Example

series2 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series2

key1    1
key2    2
key3    3
dtype: int64

### Question 1

Convert a given dict to pd series.

[**Hint:** Use **.Series**]

In [8]:
import pandas as pd
dict= {'key1':1, 'Key2':2,'Key3':3}
pd.Series(dict)

key1    1
Key2    2
Key3    3
dtype: int64

## Dataframes

A dataframe is a table with labeled columns which can hold different types of data in each column.

In [12]:
# Example
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

### Question 3

Select second row in the above dataframe df1.

In [15]:
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1['b']

0    3
1    4
2    5
Name: b, dtype: int64

### Question 4

Select column c in second row of df1.

[ **Hint: ** For using labels use **df.loc[row, column]**. For using numeric indexed use **df.iloc[]**. For using mixture of numeric indexes and labels use **df.ix[row, column]** ]

In [21]:
df1.iloc[2,2]

8

## Using Dataframes on a dataset

##### Using the mtcars dataset.

For the below set of questions, we will be using the cars data from [Motor Trend Car Road Tests](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/mtcars.html)

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973â€“74 models). 


Details :
    
A data frame with 32 observations on 11 (numeric) variables.

[, 1] 	mpg 	Miles/(US) gallon

[, 2] 	cyl 	Number of cylinders

[, 3] 	disp 	Displacement (cu.in.)

[, 4] 	hp 	Gross horsepower

[, 5] 	drat 	Rear axle ratio

[, 6] 	wt 	Weight (1000 lbs)

[, 7] 	qsec 	1/4 mile time

[, 8] 	vs 	Engine (0 = V-shaped, 1 = straight)

[, 9] 	am 	Transmission (0 = automatic, 1 = manual)

[,10] 	gear 	Number of forward gears

[,11] 	carb 	Number of carburetors

In [24]:
## Reading a dataset from a csv file using pandas.
mtcars = pd.read_csv('mtcars.csv')
mtcars.index = mtcars['name']

Following questions are based on analysing a particular dataset using dataframes.

### Question 5

Check the type and dimensions of given dataset - mtcars.


[ **Hint: ** Use **type()** and **df.shape** ]

In [27]:
mtcars = pd.read_csv('mtcars.csv')
mtcars.index = mtcars['name']
mtcars.shape

(32, 12)

### Question 6

Check the first 10 lines and last 10 lines of the given dataset- mtcars.

[**Hint:** Use **.head()** and **.tail()**]

In [29]:
mtcars = pd.read_csv('mtcars.csv')
mtcars.index = mtcars['name']
mtcars.tail

<bound method NDFrame.tail of                                     name   mpg  cyl   disp   hp  drat     wt  \
name
Mazda RX4                      Mazda RX4  21.0    6  160.0  110  3.90  2.620
Mazda RX4 Wag              Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875
Datsun 710                    Datsun 710  22.8    4  108.0   93  3.85  2.320
Hornet 4 Drive            Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215
Hornet Sportabout      Hornet Sportabout  18.7    8  360.0  175  3.15  3.440
Valiant                          Valiant  18.1    6  225.0  105  2.76  3.460
Duster 360                    Duster 360  14.3    8  360.0  245  3.21  3.570
Merc 240D                      Merc 240D  24.4    4  146.7   62  3.69  3.190
Merc 230                        Merc 230  22.8    4  140.8   95  3.92  3.150
Merc 280                        Merc 280  19.2    6  167.6  123  3.92  3.440
Merc 280C                      Merc 280C  17.8    6  167.6  123  3.92  3.440
Merc 450SE                    Merc 450SE  16.4    8  275.8  180  3.07  4.070
Merc 450SL                    Merc 450SL  17.3    8  275.8  180  3.07  3.730
Merc 450SLC                  Merc 450SLC  15.2    8  275.8  180  3.07  3.780
Cadillac Fleetwood    Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250
Lincoln Continental  Lincoln Continental  10.4    8  460.0  215  3.00  5.424
Chrysler Imperial      Chrysler Imperial  14.7    8  440.0  230  3.23  5.345
Fiat 128                        Fiat 128  32.4    4   78.7   66  4.08  2.200
Honda Civic                  Honda Civic  30.4    4   75.7   52  4.93  1.615
Toyota Corolla            Toyota Corolla  33.9    4   71.1   65  4.22  1.835
Toyota Corona              Toyota Corona  21.5    4  120.1   97  3.70  2.465
Dodge Challenger        Dodge Challenger  15.5    8  318.0  150  2.76  3.520
AMC Javelin                  AMC Javelin  15.2    8  304.0  150  3.15  3.435
Camaro Z28                    Camaro Z28  13.3    8  350.0  245  3.73  3.840
Pontiac Firebird        Pontiac Firebird  19.2    8  400.0  175  3.08  3.845
Fiat X1-9                      Fiat X1-9  27.3    4   79.0   66  4.08  1.935
Porsche 914-2              Porsche 914-2  26.0    4  120.3   91  4.43  2.140
Lotus Europa                Lotus Europa  30.4    4   95.1  113  3.77  1.513
Ford Pantera L            Ford Pantera L  15.8    8  351.0  264  4.22  3.170
Ferrari Dino                Ferrari Dino  19.7    6  145.0  175  3.62  2.770
Maserati Bora              Maserati Bora  15.0    8  301.0  335  3.54  3.570
Volvo 142E                    Volvo 142E  21.4    4  121.0  109  4.11  2.780

                      qsec  vs  am  gear  carb
name
Mazda RX4            16.46   0   1     4     4
Mazda RX4 Wag        17.02   0   1     4     4
Datsun 710           18.61   1   1     4     1
Hornet 4 Drive       19.44   1   0     3     1
Hornet Sportabout    17.02   0   0     3     2
Valiant              20.22   1   0     3     1
Duster 360           15.84   0   0     3     4
Merc 240D            20.00   1   0     4     2
Merc 230             22.90   1   0     4     2
Merc 280             18.30   1   0     4     4
Merc 280C            18.90   1   0     4     4
Merc 450SE           17.40   0   0     3     3
Merc 450SL           17.60   0   0     3     3
Merc 450SLC          18.00   0   0     3     3
Cadillac Fleetwood   17.98   0   0     3     4
Lincoln Continental  17.82   0   0     3     4
Chrysler Imperial    17.42   0   0     3     4
Fiat 128             19.47   1   1     4     1
Honda Civic          18.52   1   1     4     2
Toyota Corolla       19.90   1   1     4     1
Toyota Corona        20.01   1   0     3     1
Dodge Challenger     16.87   0   0     3     2
AMC Javelin          17.30   0   0     3     2
Camaro Z28           15.41   0   0     3     4
Pontiac Firebird     17.05   0   0     3     2
Fiat X1-9            18.90   1   1     4     1
Porsche 914-2        16.70   0   1     5     2
Lotus Europa         16.90   1   1     5     2
Ford Pantera L       14.50   0   1     5     4
Ferrari Dino         15.50   0   1     5     6
Maserati Bora        14.60   0   1     5     8
Volvo 142E           18.60   1   1     4     2  >

### Question 7

Print all the column labels in the given dataset - mtcars.

[ **Hint: ** Use **df.columns** ]

In [30]:
mtcars.columns

Index(['name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

### Question 8

Select first 6 rows and 3 columns in mtcars dataframe.

**Hint: **  
mtcars.ix[:,:] gives all rows and columns in the dataset.

In [32]:
mtcars[:6,3:]

TypeError: '(slice(None, 6, None), slice(3, None, None))' is an invalid key

### Question 9

Select rows from name **Mazda RX4** to **Valiant** in the mtcars dataset and display only mpg and cyl values of those cars. 

**Hint:** Use df **.ix[rows,columns]**

In [34]:
df.loca['Mazda RX4', 'Valiant',]

NameError: name 'df' is not defined